<table class="month-picker-table">
    <tr class="text-center">
        <td><div class="mp-year-header">2017</div></td>
        <td><div class="mp-month mp-active">1</div></td>
        <td><div class="mp-month mp-active">2</div></td>
        <td><div class="mp-month mp-active">3</div></td>
        <td><div class="mp-month mp-active">4</div></td>
        <td><div class="mp-month mp-active">5</div></td>
        <td><div class="mp-month mp-active">6</div></td>
        <td><div class="mp-month mp-active">7</div></td>
        <td><div class="mp-month mp-active">8</div></td>
        <td><div class="mp-month mp-active">9</div></td>
        <td><div class="mp-month mp-active">10</div></td>
        <td><div class="mp-month mp-active">11</div></td>
        <td><div class="mp-month mp-active">12</div></td>
    </tr>
    <tr class="text-center">
        <td><div class="mp-year-header">2018</div></td>
        <td><div class="mp-month">1</div></td>
        <td><div class="mp-month">2</div></td>
        <td><div class="mp-month">3</div></td>
        <td><div class="mp-month">4</div></td>
        <td><div class="mp-month">5</div></td>
        <td><div class="mp-month">6</div></td>
        <td><div class="mp-month">7</div></td>
        <td><div class="mp-month">8</div></td>
        <td><div class="mp-month">9</div></td>
        <td><div class="mp-month">10</div></td>
        <td><div class="mp-month">11</div></td>
        <td><div class="mp-month">12</div></td>
    </tr>
</table>